# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.classpath
# ignore Maven generated target folders

target
*.class
.project
.settings/
.classpath
.settings
.metadata
park-parent/*/target
park-parent/park-domain/target/*