<?xml version="1.0" encoding="UTF-8"?>
<!-- thread-count 定义同时启动的浏览器数 、parallel="tests" 表明每个test都是平级的 -->
<suite name="autotest_wymall" parallel="tests" thread-count="1">
	<!-- 配置是否远程Jenkins分布式执行 true,false-->
	<parameter name="SeleniumGrid" value="false" />
	<!-- 配置远程执行的hubUrl (如http://172.18.10.41:11450)-->
	<parameter name="hubUrl" value="http://172.18.40.10:4444" />
	<!-- chrome,firefox,ghost和ie不区分大小写 -->
	<parameter name="browserName" value="chrome" />
	<!-- user的属性文件地址,此配置文件存储了用户名和密码等信息 -->
	<parameter name="userInfoPath" value="config/user.properties" />
	<!-- driver的属性配置文件保存路径 -->
	<parameter name="driverConfgFilePath" value="config/driver.properties" />
	<!-- 定义测试的站点 -->
	<parameter name="testurl" value="http://mgr.k8s.yidianting.com.cn/#/" />
	<!-- 进程等待1秒中的控制时间 -->
	<parameter name="sleepTime" value="800" />
	<!-- 页面元素10秒不出现超时时间 -->
	<parameter name="timeOut" value="30" />
	<!-- 这个是等待alert弹出的时间 单位毫秒 -->
	<parameter name="waitMillisecondsForAlert" value="40000" />
	
	<!-- 定义测试模块，用test标签包围 -->
	<test name="A_信息查询" preserve-order="true">
	<classes preserve-order="true">
		<class name="com.wymall.test.testcases.impormationSearch.carStatus.CarStatusPage_001_checkInsideCar_Test" />
		<class name="com.wymall.test.testcases.impormationSearch.carStatus.CarStatusPage_002_checkChargeBill_Test" />
		<class name="com.wymall.test.testcases.impormationSearch.carStatus.CarStatusPage_003_checkLeaveCar_Test" />
		<class name="com.wymall.test.testcases.impormationSearch.carStatus.CarStatusPage_004_abnormalInsideCar_Test" />
		<class name="com.wymall.test.testcases.impormationSearch.carStatus.CarStatusPage_005_adjustCarWaterNum_Test" />
		<class name="com.wymall.test.testcases.impormationSearch.carStatus.CarStatusPage_006_exportInsideCar_Test" />
		<class name="com.wymall.test.testcases.impormationSearch.carStatus.CarStatusPage_007_checkLeaveCarDetail_Test" />
		<class name="com.wymall.test.testcases.impormationSearch.carStatus.CarStatusPage_008_exportChargeBill_Test" />
		<class name="com.wymall.test.testcases.impormationSearch.carStatus.CarStatusPage_009_exportAbnormalCarCome_Test" />
		<class name="com.wymall.test.testcases.impormationSearch.carStatus.CarStatusPage_010_exportNoSystemOpening_Test" />
		<class name="com.wymall.test.testcases.impormationSearch.carStatus.CarStatusPage_011_exportArrearageCar_Test" />
		<class name="com.wymall.test.testcases.impormationSearch.carStatus.CarStatusPage_012_exportAbnormalPhoto_Test" />
		<class name="com.wymall.test.testcases.impormationSearch.carStatus.CarStatusPage_013_exportAdjustWater_Test" />
		<class name="com.wymall.test.testcases.impormationSearch.carStatus.CarStatusPage_014_filterInsideCar_Test" />
		<class name="com.wymall.test.testcases.impormationSearch.carStatus.CarStatusPage_015_filterLeaveCar_Test" />
		<class name="com.wymall.test.testcases.impormationSearch.carStatus.CarStatusPage_016_filterChargeBill_Test" />
		<class name="com.wymall.test.testcases.impormationSearch.carStatus.CarStatusPage_017_filterAbnormalCarCome_Test" />
		<class name="com.wymall.test.testcases.impormationSearch.carStatus.CarStatusPage_018_filterNoSystemOpening_Test" />
		<class name="com.wymall.test.testcases.impormationSearch.carStatus.CarStatusPage_019_filterArrearageCar_Test" />
		<class name="com.wymall.test.testcases.impormationSearch.carStatus.CarStatusPage_020_filterAbnormalPhoto_Test" />
		<class name="com.wymall.test.testcases.impormationSearch.carStatus.CarStatusPage_021_filterAdjustWater_Test" />
	</classes>
	</test>
	
	<test name="B_车场运营-车辆分类管理" preserve-order="true">
	<classes preserve-order="true">
		<class name="com.wymall.test.testcases.PakringOperation.CarTypeManage.carTypeManage.CarTypeManagePage_001_addVisitorCar_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.CarTypeManage.carTypeManage.CarTypeManagePage_002_filterVisitorCar_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.CarTypeManage.carTypeManage.CarTypeManagePage_003_editVisitorCar_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.CarTypeManage.carTypeManage.CarTypeManagePage_004_delVisitorCar_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.CarTypeManage.carTypeManage.CarTypeManagePage_005_exportVisitorCar_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.CarTypeManage.carTypeManage.CarTypeManagePage_006_addBlacklistCar_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.CarTypeManage.carTypeManage.CarTypeManagePage_007_filterBlacklistCar_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.CarTypeManage.carTypeManage.CarTypeManagePage_008_editBlacklistCar_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.CarTypeManage.carTypeManage.CarTypeManagePage_009_delBlacklistCar_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.CarTypeManage.carTypeManage.CarTypeManagePage_010_exportBlacklistCar_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.CarTypeManage.carTypeManage.CarTypeManagePage_011_addSpecialTypeCar_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.CarTypeManage.carTypeManage.CarTypeManagePage_012_updateInformation_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.CarTypeManage.carTypeManage.CarTypeManagePage_013_editSpecialTypeCar_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.CarTypeManage.carTypeManage.CarTypeManagePage_014_delSpecialTypeCar_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.CarTypeManage.carTypeManage.CarTypeManagePage_015_exportEmergencyCar_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.CarTypeManage.carTypeManage.CarTypeManagePage_016_addEmergencyCar_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.CarTypeManage.carTypeManage.CarTypeManagePage_017_setEmergencyCarWarn_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.CarTypeManage.carTypeManage.CarTypeManagePage_018_editEmergencyCar_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.CarTypeManage.carTypeManage.CarTypeManagePage_019_delEmergencyCar_Test" />
	</classes>
	</test>
	
	<!-- <test name="C_车场运营-月票管理" preserve-order="true">
	<classes preserve-order="true">
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketBill.MonthTicketBillPage_001_addTicketBill_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketBill.MonthTicketBillPage_002_renewMoney_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketBill.MonthTicketBillPage_003_extendTime_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketBill.MonthTicketBillPage_004_refundMoney_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketBill.MonthTicketBillPage_005_ImportTicketBill_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketBill.MonthTicketBillPage_006_filterTicketBill_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketBill.MonthTicketBillPage_007_batchRenewMoney_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketBill.MonthTicketBillPage_008_batchRefundMoney_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketBill.MonthTicketBillPage_009_checkTicketBillDetail_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketBill.MonthTicketBillPage_010_checkStoreValueChargeRecord_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketBill.MonthTicketBillPage_011_exportTicketBillDetail_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketBill.MonthTicketBillPage_012_exporStoreValueChargeRecord_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketCertifi.MonthTicketCertifiPage_001_saveRuleManager_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketCertifi.MonthTicketCertifiPage_002_addTicketCertifi_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketCertifi.MonthTicketCertifiPage_003_editTicketCertifi_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketCertifi.MonthTicketCertifiPage_004_filterTicketCertifi_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketCertifi.MonthTicketCertifiPage_005_checkTicketCertifi_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketCertifi.MonthTicketCertifiPage_006_checkCertifiRule_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketCertifi.MonthTicketCertifiPage_007_delTicketCertifi_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketManager.MonthTicketManagerPage_001_addInternalTicket_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketManager.MonthTicketManagerPage_002_InternalTicketUpLowerline_Test" />  
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketManager.MonthTicketManagerPage_003_editInternalTicket_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketManager.MonthTicketManagerPage_008_checkSupperParking_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketManager.MonthTicketManagerPage_009_filterMonthTicket_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketManager.MonthTicketManagerPage_010_updateInformation_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketManager.MonthTicketManagerPage_004_delInternalTicket_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketManager.MonthTicketManagerPage_012_addInternalTicketCloud_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketManager.MonthTicketManagerPage_013_TicketUpLowerlineCloud_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketManager.MonthTicketManagerPage_014_editInternalTicketCloud_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketManager.MonthTicketManagerPage_015_delInternalTicketCloud_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketManager.MonthTicketManagerPage_016_addInternalTicketWayside_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketManager.MonthTicketManagerPage_017_TicketUpLowerlineWayside_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketManager.MonthTicketManagerPage_018_editInternalTicketWayside_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.MonthTicketManage.monthTicketManager.MonthTicketManagerPage_019_delInternalTicketWayside_Test" />
	</classes>
	</test> -->
	
	<test name="D_车场运营-人员管理" preserve-order="true">
	<classes preserve-order="true">
		<class name="com.wymall.test.testcases.PakringOperation.ParkingManage.personalManage.PersonalManagePage_001_addMinProUser_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.ParkingManage.personalManage.PersonalManagePage_002_setPower_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.ParkingManage.personalManage.PersonalManagePage_003_editUser_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.ParkingManage.personalManage.PersonalManagePage_004_setFrozen_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.ParkingManage.personalManage.PersonalManagePage_005_setStartuse_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.ParkingManage.personalManage.PersonalManagePage_006_delMinProUser_Test" />
	</classes>
	</test>
	
	<test name="E_车场运营-增值服务" preserve-order="true">
	<classes preserve-order="true">
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.activityVoucher.ActivityVoucherPage_001_addPayVoucher_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.activityVoucher.ActivityVoucherPage_002_editPayVoucher_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.activityVoucher.ActivityVoucherPage_003_setStratup_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.activityVoucher.ActivityVoucherPage_004_setStop_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.activityVoucher.ActivityVoucherPage_005_filterPayVorcher_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.activityVoucher.ActivityVoucherPage_006_delPayVoucher_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.activityVoucher.ActivityVoucherPage_007_downloadQRcode_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.activityVoucher.ActivityVoucherPage_008_exportVoucherRecord_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.carBookingRule.CarBookingRulePage_001_addBookingRule_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.carBookingRule.CarBookingRulePage_002_editBookingRule_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.carBookingRule.CarBookingRulePage_003_delBookingRule_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.carBookingRule.CarBookingRulePage_004_checkBookingWaterNum_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.carBookingRule.CarBookingRulePage_005_checkBookingReport_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.carBookingRule.CarBookingRulePage_006_exportBookingWaterNum_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.carBookingRule.CarBookingRulePage_007_exportBookingReport_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.cendutySeat.CendutySeatPage_001_addCenduty_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.cendutySeat.CendutySeatPage_002_editCenduty_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.cendutySeat.CendutySeatPage_003_setfrozenCenduty_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.cendutySeat.CendutySeatPage_004_setStartCenduty_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.cendutySeat.CendutySeatPage_005_delCenduty_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.mobileUser.MobileUserPage_001_addPosUser_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.mobileUser.MobileUserPage_002_editPosUser_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.mobileUser.MobileUserPage_003_setPosUserPower_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.mobileUser.MobileUserPage_004_delPosUser_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.mobileUser.MobileUserPage_005_exportParkingRecord_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.mobileUser.MobileUserPage_006_exportParkingOperation_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.mobileUser.MobileUserPage_007_exportEvenRecord_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.mobileUser.MobileUserPage_008_exportParkingViolateRecord_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.mobileUser.MobileUserPage_009_exportMobileReportRecord_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.scoreConfig.ScoreConfigPage_003_ScoreConfigSetStop_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.scoreConfig.ScoreConfigPage_001_addScoreConfig_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.scoreConfig.ScoreConfigPage_002_editScoreConfig_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.scoreConfig.ScoreConfigPage_005_delScoreConfig_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.scoreConfig.ScoreConfigPage_004_ScoreConfigSetStratup_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.scoreConfig.ScoreConfigPage_006_exportScoreWaterNum_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.scoreConfig.ScoreConfigPage_007_exportScoreReport_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.scoreConfig.ScoreConfigPage_008_updateScoreReport_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.scoreConfig.ScoreConfigPage_009_checkScoreWaterNum_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.scoreConfig.ScoreConfigPage_010_checkScoreReport_Test" />
	</classes>
	</test>
	
	<!-- <test name="F_车场运营-增值服务-电子优惠劵" preserve-order="true">
	<classes preserve-order="true">
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.businessman.BusinessmanPage_001_addBussiness_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.businessman.BusinessmanPage_002_setStratup_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.businessman.BusinessmanPage_003_setStop_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.businessman.BusinessmanPage_004_editBusiness_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.businessman.BusinessmanPage_005_moreSeting_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.businessman.BusinessmanPage_006_resetPassword_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.businessman.BusinessmanPage_007_delBusiness_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.businessman.BusinessmanPage_008_importBusiness_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.businessman.BusinessmanPage_009_exportBusiness_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.setVoucher.SetVoucherPage_001_addPayVoucher_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.setVoucher.SetVoucherPage_002_editPayVoucher_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.setVoucher.SetVoucherPage_003_setStop_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.setVoucher.SetVoucherPage_004_setStratup_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.setVoucher.SetVoucherPage_005_checkVorcherParking_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.setVoucher.SetVoucherPage_006_delPayVoucher_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.sell.SellPage_001_addSellTicket_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.sell.SellPage_002_returnVoucher_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.sell.SellPage_003_batchSellTicket_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.sell.SellPage_004_exportTicketPage_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.sell.SellPage_005_exportBusinessTicketCode_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.sell.SellPage_006_batchReturnVoucher_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.sell.SellPage_007_exportSellRecord_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.sendRecord.SendRecordPage_001_exportSendRecordList_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.sendRecord.SendRecordPage_002_checkSendRecord_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.useRecord.UseRecordPage_001_exportUseRecord_Test" />
		<class name="com.wymall.test.testcases.PakringOperation.UpgradeService.useRecord.UseRecordPage_002_checkUseRecord_Test" />
	</classes>
	</test> -->
	
	<test name="G_账号管理" preserve-order="true">
	<classes preserve-order="true">
		<class name="com.wymall.test.testcases.system.parking_group.Parking_groupPage_001_addParkingGroup_Test" />
		<class name="com.wymall.test.testcases.system.parking_group.Parking_groupPage_002_buidingParking_Test" />
		<class name="com.wymall.test.testcases.system.parking_group.Parking_groupPage_003_checkUser_Test" />
		<class name="com.wymall.test.testcases.system.parking_group.Parking_groupPage_004_editParkingGroup_Test" />
		<class name="com.wymall.test.testcases.system.parking_group.Parking_groupPage_005_delParkingGroup_Test" />
		<class name="com.wymall.test.testcases.system.role.RolePage_001_addRoleSuccess_Test" />
		<class name="com.wymall.test.testcases.system.role.RolePage_002_settingRole_Test" />
		<class name="com.wymall.test.testcases.system.role.RolePage_003_editRole_Test" />
		<class name="com.wymall.test.testcases.system.role.RolePage_004_delRoleSuccess_Test" />
		<class name="com.wymall.test.testcases.system.user.UserPage_001_addUser_Test" />
		<class name="com.wymall.test.testcases.system.user.UserPage_002_setRole_Test" />
		<class name="com.wymall.test.testcases.system.user.UserPage_003_setParkingGroup_Test" />
		<class name="com.wymall.test.testcases.system.user.UserPage_004_editPassword_Test" />
		<class name="com.wymall.test.testcases.system.user.UserPage_005_editUser_Test" />
		<class name="com.wymall.test.testcases.system.user.UserPage_006_loginPomp_Test" />
		<class name="com.wymall.test.testcases.system.user.UserPage_007_delUser_Test" />
	</classes>
	</test>
	
	<test name="H_统计分析" preserve-order="true">
	<classes preserve-order="true">
		<class name='com.wymall.test.testcases.statisticalAnalysis.businessmanReport.BusinessmanReportPage_001_checkBusinessmanReport_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.businessmanReport.BusinessmanReportPage_002_exportBusinessmanReport_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.comeAndOutReport.ComeAndOutReportPage_001_checkComeAndOutReport_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.comeAndOutReport.ComeAndOutReportPage_002_exportComeAndOutReport_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.handoverReport.HandoverReportPage_001_exportHandoverReport_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.handoverReport.HandoverReportPage_002_checkHandoverReport_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.monthTicketFinanceReport.MonthTicketFinanceReportPage_001_checkMonthTicketFinance_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.parkVipDailyReport.ParkVipDailyReportPage_001_checkParkVipDailyRepor_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.parkVipDailyReport.ParkVipDailyReportPage_002_exportParkVipDailyRepor_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.parkVipMonthIncome.ParkVipMonthIncomePage_001_filterParkVipMonthIncome_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.parkVipMonthIncome.ParkVipMonthIncomePage_002_exportParkVipMonthIncome_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.paymentReport.PaymentReportPage_001_filterPaymentReport_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.paymentReport.PaymentReportPage_002_exportPaymentReport_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.paymentTypeReport.PaymentTypeReportPage_001_filterPaymentTypeReport_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.paymentTypeReport.PaymentTypeReportPage_002_exportPaymentTypeReport_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.temporaryReport.TemporaryReportPage_001_filterTemporaryReport_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.temporaryReport.TemporaryReportPage_002_exportTemporaryReport_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.temporaryReport.TemporaryReportPage_003_checkTemporaryReportDetail_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.tollcollectorReport.TollcollectorReportPage_001_checkTollcollectorReport_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.tollcollectorReport.TollcollectorReportPage_002_exportTollcollectorReport_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.vipCharge.VipChargePage_001_filterVipChargeReport_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.vipCharge.VipChargePage_002_exportVipChargeReport_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.wayChargeReport.WayChargeReportPage_001_filterWayChargeReport_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.wayChargeReport.WayChargeReportPage_002_exportWayChargeReport_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.wayComeAndOutReport.WayComeAndOutReportPage_001_filterWayComeAndOutReport_Test' />
		<class name='com.wymall.test.testcases.statisticalAnalysis.wayComeAndOutReport.WayComeAndOutReportPage_002_exportWayComeAndOutReport_Test' />
	</classes>
	</test>

	<listeners>
		<!-- arrow插件实现用例失败重跑以及生成测试报告 -->
		<listener class-name="com.wymall.test.plugins.arrow.TestResultListener" />
		<listener class-name="com.wymall.test.plugins.arrow.RetryListener" />
		<listener class-name="com.wymall.test.plugins.arrow.PowerEmailableReporter" />
		<!-- reporterNG优化生成测试报告 -->
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>

</suite> 