<?xml version="1.0" encoding="UTF-8"?>
<!-- thread-count 定义同时启动的浏览器数 、parallel="tests" 表明每个test都是平级的 -->
<suite name="autotest_wymall" parallel="tests" thread-count="1">
	<!-- 配置是否远程Jenkins分布式执行 true,false-->
	<parameter name="SeleniumGrid" value="false" />
	<!-- 配置远程执行的hubUrl (如http://172.18.10.41:11450)-->
	<parameter name="hubUrl" value="http://172.18.40.10:4444" />
	<!-- chrome,firefox,ghost和ie不区分大小写 -->
	<parameter name="browserName" value="chrome" />
	<!-- user的属性文件地址,此配置文件存储了用户名和密码等信息 -->
	<parameter name="userInfoPath" value="config/user.properties" />
	<!-- driver的属性配置文件保存路径 -->
	<parameter name="driverConfgFilePath" value="config/driver.properties" />
	<!-- 定义测试的站点 -->
	<parameter name="testurl" value="http://mgr.k8s.yidianting.com.cn/#/" />
	<!-- 进程等待1秒中的控制时间 -->
	<parameter name="sleepTime" value="800" />
	<!-- 页面元素10秒不出现超时时间 -->
	<parameter name="timeOut" value="30" />
	<!-- 这个是等待alert弹出的时间 单位毫秒 -->
	<parameter name="waitMillisecondsForAlert" value="40000" />

	<!-- 定义测试模块，用test标签包围 -->
	<test name="D_system" preserve-order="true">
	<classes preserve-order="true">
		<class
			name="com.wymall.test.testcases.system.parking_group.Parking_groupPage_001_addParkingGroup_Test" />  
		<class
			name="com.wymall.test.testcases.system.parking_group.Parking_groupPage_002_buidingParking_Test" />
		<class
			name="com.wymall.test.testcases.system.parking_group.Parking_groupPage_003_checkUser_Test" />
		<class
			name="com.wymall.test.testcases.system.parking_group.Parking_groupPage_004_editParkingGroup_Test" />
		<class
			name="com.wymall.test.testcases.system.parking_group.Parking_groupPage_005_delParkingGroup_Test" />	
		</classes>
	</test>

	
	<listeners>
		<!-- arrow插件实现用例失败重跑以及生成测试报告 -->
		<listener class-name="com.wymall.test.plugins.arrow.TestResultListener" />
		<listener class-name="com.wymall.test.plugins.arrow.RetryListener" />
		<listener class-name="com.wymall.test.plugins.arrow.PowerEmailableReporter" />
		<!-- reporterNG优化生成测试报告 -->
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>

</suite> 