<?xml version="1.0" encoding="UTF-8"?>
<!-- thread-count 定义同时启动的浏览器数 、parallel="tests" 表明每个test都是平级的 -->
<suite name="autotest_wymall" parallel="tests" thread-count="1">
	<!-- 配置是否远程Jenkins分布式执行 true,false-->
	<parameter name="SeleniumGrid" value="false" />
	<!-- 配置远程执行的hubUrl (如http://172.18.10.41:11450)-->
	<parameter name="hubUrl" value="http://172.18.40.10:4444" />
	<!-- chrome,firefox,ghost和ie不区分大小写 -->
	<parameter name="browserName" value="chrome" />
	<!-- user的属性文件地址,此配置文件存储了用户名和密码等信息 -->
	<parameter name="userInfoPath" value="config/user.properties" />
	<!-- driver的属性配置文件保存路径 -->
	<parameter name="driverConfgFilePath" value="config/driver.properties" />
	<!-- 定义测试的站点 -->
	<parameter name="testurl" value="http://47.106.221.58:5002/#/login" />
	<!-- 进程等待1秒中的控制时间 -->
	<parameter name="sleepTime" value="800" />
	<!-- 页面元素10秒不出现超时时间 -->
	<parameter name="timeOut" value="30" />
	<!-- 这个是等待alert弹出的时间 单位毫秒 -->
	<parameter name="waitMillisecondsForAlert" value="40000" />

	<!-- 定义测试模块，用test标签包围 -->
	<test name="A_parking" preserve-order="true">
	<classes preserve-order="true">
	<!--  
		<class
			name="com.wymall.test.testcases.parking.carInfoManager.CarInfoManagerPage_001_addVisitorCar_Test" />
		<class
			name="com.wymall.test.testcases.parking.carInfoManager.CarInfoManagerPage_002_filterVisitorCar_Test" />
		<class
			name="com.wymall.test.testcases.parking.carInfoManager.CarInfoManagerPage_003_editVisitorCar_Test" />
		-->
		<class
			name="com.wymall.test.testcases.parking.carInfoManager.CarInfoManagerPage_004_delVisitorCar_Test" />
		<!--  
		<class
			name="com.wymall.test.testcases.parking.carInfoManager.CarInfoManagerPage_005_exportVisitorCar_Test" />
		<class
			name="com.wymall.test.testcases.parking.carInfoManager.CarInfoManagerPage_006_addBlacklistCar_Test" />
		<class
			name="com.wymall.test.testcases.parking.carInfoManager.CarInfoManagerPage_007_filterBlacklistCar_Test" />
		<class
			name="com.wymall.test.testcases.parking.carInfoManager.CarInfoManagerPage_008_editBlacklistCar_Test" />
		<class
			name="com.wymall.test.testcases.parking.carInfoManager.CarInfoManagerPage_009_delBlacklistCar_Test" />
		<class
			name="com.wymall.test.testcases.parking.carInfoManager.CarInfoManagerPage_010_exportBlacklistCar_Test" />
		<class
			name="com.wymall.test.testcases.parking.carInfoManager.CarInfoManagerPage_011_addSpecialTypeCar_Test" />
		<class
			name="com.wymall.test.testcases.parking.carInfoManager.CarInfoManagerPage_012_updateInformation_Test" />
		<class
			name="com.wymall.test.testcases.parking.carInfoManager.CarInfoManagerPage_013_editSpecialTypeCar_Test" />
		<class
			name="com.wymall.test.testcases.parking.carInfoManager.CarInfoManagerPage_014_delSpecialTypeCar_Test" />
		<class
			name="com.wymall.test.testcases.parking.carInfoManager.CarInfoManagerPage_015_exportCarInfo_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_001_checkInsideCar_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_002_checkChargeBill_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_003_checkLeaveCar_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_004_abnormalInsideCar_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_005_adjustCarWaterNum_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_006_exportInsideCar_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_007_exportLeaveCar_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_008_exportChargeBill_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_009_exportAbnormalCarCome_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_010_exportAbnormalCarOut_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_011_exportNoSystemOpening_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_012_exportArrearageCar_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_013_exportAbnormalPhoto_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_014_exportAdjustWater_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_015_filterInsideCar_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_016_filterLeaveCar_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_017_filterChargeBill_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_018_filterAbnormalCarCome_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_019_filterAbnormalCarOut_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_020_filterNoSystemOpening_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_021_filterArrearageCar_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_022_filterAbnormalPhoto_Test" />
		<class
			name="com.wymall.test.testcases.parking.passAndOut.PassAndOutPage_023_filterAdjustWater_Test" />	
		<class
			name="com.wymall.test.testcases.parking.reportManager.comeAndOutReport.ComeAndOutReportPage_001_filterComeAndOutReport_Test" />
		<class
			name="com.wymall.test.testcases.parking.reportManager.comeAndOutReport.ComeAndOutReportPage_002_exportComeAndOutReport_Test" />
		<class
			name="com.wymall.test.testcases.parking.reportManager.handoverReport.HandoverReportPage_001_exportHandoverReport_Test" />
		<class
			name="com.wymall.test.testcases.parking.reportManager.invoiceReport.InvoiceReportPage_001_exportInvoiceReport_Test" />
		<class
			name="com.wymall.test.testcases.parking.reportManager.paymentReport.PaymentReportPage_001_filterPaymentReport_Test" />
		<class
			name="com.wymall.test.testcases.parking.reportManager.paymentReport.PaymentReportPage_002_exportPaymentReport_Test" />
		<class
			name="com.wymall.test.testcases.parking.reportManager.paymentTypeReport.PaymentTypeReportPage_001_filterPaymentTypeReport_Test" />
		<class
			name="com.wymall.test.testcases.parking.reportManager.paymentTypeReport.PaymentTypeReportPage_002_exportPaymentTypeReport_Test" />
		<class
			name="com.wymall.test.testcases.parking.reportManager.paymentTypeReport.PaymentTypeReportPage_003_checkPaymentType_Test" />
		<class
			name="com.wymall.test.testcases.parking.reportManager.temporaryReport.TemporaryReportPage_001_filterTemporaryReport_Test" />
		<class
			name="com.wymall.test.testcases.parking.reportManager.temporaryReport.TemporaryReportPage_002_exportTemporaryReport_Test" />
		<class
			name="com.wymall.test.testcases.parking.reportManager.temporaryReport.TemporaryReportPage_003_checkTemporaryReportDetail_Test" />
		<class
			name="com.wymall.test.testcases.parking.reportManager.tollcollectorReport.TollcollectorReportPage_001_checkInsideCar_Test" />
		<class
			name="com.wymall.test.testcases.parking.reportManager.tollcollectorReport.TollcollectorReportPage_002_checkChargeBill_Test" />
		<class
			name="com.wymall.test.testcases.parking.reportManager.wayChargeReport.WayChargeReportPage_001_filterWayChargeReport_Test" />
		<class
			name="com.wymall.test.testcases.parking.reportManager.wayChargeReport.WayChargeReportPage_002_exportWayChargeReport_Test" />
		<class
			name="com.wymall.test.testcases.parking.reportManager.wayComeAndOutReport.WayComeAndOutReportPage_001_filterWayComeAndOutReport_Test" />
		<class
			name="com.wymall.test.testcases.parking.reportManager.wayComeAndOutReport.WayComeAndOutReportPage_002_exportWayComeAndOutReport_Test" />
	-->
	</classes>
	</test>
  <!--  
	<test name="B_preferential" preserve-order="true">
		<classes preserve-order="true">
			<class
				name="com.wymall.test.testcases.preferential.business.BusinessPage_001_addBussiness_Test" />
			<class
				name="com.wymall.test.testcases.preferential.business.BusinessPage_002_setStratup_Test" />
			<class
				name="com.wymall.test.testcases.preferential.business.BusinessPage_003_setStop_Test" />
			<class
				name="com.wymall.test.testcases.preferential.business.BusinessPage_004_editBusiness_Test" />
			<class
				name="com.wymall.test.testcases.preferential.business.BusinessPage_005_delBusiness_Test" />
			<class
				name="com.wymall.test.testcases.preferential.business.BusinessPage_006_importBusiness_Test" />
			<class
				name="com.wymall.test.testcases.preferential.business.BusinessPage_007_exportBusiness_Test" />
			<class
				name="com.wymall.test.testcases.preferential.payVoucher.PayVoucherPage_001_addPayVoucher_Test" />
			<class
				name="com.wymall.test.testcases.preferential.payVoucher.PayVoucherPage_002_editPayVoucher_Test" />
			<class
				name="com.wymall.test.testcases.preferential.payVoucher.PayVoucherPage_003_setStratup_Test" />
			<class
				name="com.wymall.test.testcases.preferential.payVoucher.PayVoucherPage_004_setStop_Test" />
			<class
				name="com.wymall.test.testcases.preferential.payVoucher.PayVoucherPage_005_filterPayVorcher_Test" />
			<class
				name="com.wymall.test.testcases.preferential.payVoucher.PayVoucherPage_006_delPayVoucher_Test" />
			<class
				name="com.wymall.test.testcases.preferential.payVoucher.PayVoucherPage_007_downloadQRcode_Test" />
			<class
				name="com.wymall.test.testcases.preferential.sell.SellPage_001_addSellTicket_Test" />
			<class
				name="com.wymall.test.testcases.preferential.sell.SellPage_002_returnVoucher_Test" />
			<class
				name="com.wymall.test.testcases.preferential.sell.SellPage_003_batchSellTicket_Test" />
			<class
				name="com.wymall.test.testcases.preferential.sell.SellPage_004_exportTicketPage_Test" />
			<class
				name="com.wymall.test.testcases.preferential.sell.SellPage_005_exportBusinessTicketCode_Test" />
			<class
				name="com.wymall.test.testcases.preferential.sell.SellPage_006_batchReturnVoucher_Test" />
			<class
				name="com.wymall.test.testcases.preferential.sell.SellPage_007_exportSellRecord_Test" />
			<class
				name="com.wymall.test.testcases.preferential.voucher.VoucherPage_001_addVoucher_Test" />
			<class
				name="com.wymall.test.testcases.preferential.voucher.VoucherPage_002_editVoucher_Test" />
			<class
				name="com.wymall.test.testcases.preferential.voucher.VoucherPage_003_delVoucher_Test" />
			<class
				name="com.wymall.test.testcases.preferential.voucher.VoucherPage_004_setStop_Test" />
			<class
				name="com.wymall.test.testcases.preferential.voucher.VoucherPage_005_setStratup_Test" />
			<class
				name="com.wymall.test.testcases.preferential.businessReport.BusinessReportPage_001_exportBusinessList_Test" />
			<class
				name="com.wymall.test.testcases.preferential.businessReport.BusinessReportPage_002_checkBusinessDetailed_Test" />
			<class
				name="com.wymall.test.testcases.preferential.waterInformation.WaterInformationPage_001_exportBusinessUserWaterNum_Test" />
			<class
				name="com.wymall.test.testcases.preferential.waterInformation.WaterInformationPage_002_exportBusinessSendWaterNum_Test" />
			<class
				name="com.wymall.test.testcases.preferential.waterInformation.WaterInformationPage_003_exportPayVoucherWaterNum_Test" />
		</classes>
	</test>
	<test name="C_monthTicket" preserve-order="true">
		<classes preserve-order="true">
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketBill.MonthTicketBillPage_001_addTicketBill_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketBill.MonthTicketBillPage_002_renewMoney_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketBill.MonthTicketBillPage_003_extendTime_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketBill.MonthTicketBillPage_004_refundMoney_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketBill.MonthTicketBillPage_005_ImportTicketBill_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketBill.MonthTicketBillPage_006_filterTicketBill_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketBill.MonthTicketBillPage_007_batchRenewMoney_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketBill.MonthTicketBillPage_008_batchRefundMoney_Test" />		
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketManager.MonthTicketManagerPage_001_addInternalTicket_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketManager.MonthTicketManagerPage_002_InternalTicketUpLowerline_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketManager.MonthTicketManagerPage_003_editInternalTicket_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketManager.MonthTicketManagerPage_004_delInternalTicket_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketManager.MonthTicketManagerPage_005_addExternalTicket_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketManager.MonthTicketManagerPage_006_externalTicketUpLowerline_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketManager.MonthTicketManagerPage_007_editExternalTicket_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketManager.MonthTicketManagerPage_008_checkSupperParking_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketManager.MonthTicketManagerPage_009_filterMonthTicket_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketManager.MonthTicketManagerPage_010_updateInformation_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketManager.MonthTicketManagerPage_011_delExternalTicket_Test" />	
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketManager.MonthTicketManagerPage_012_addInternalTicketCloud_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketManager.MonthTicketManagerPage_013_TicketUpLowerlineCloud_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketManager.MonthTicketManagerPage_014_editInternalTicketCloud_Test" />		
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketManager.MonthTicketManagerPage_015_delInternalTicketCloud_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketManager.MonthTicketManagerPage_016_addInternalTicketWayside_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketManager.MonthTicketManagerPage_017_TicketUpLowerlineWayside_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketManager.MonthTicketManagerPage_018_editInternalTicketWayside_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketManager.MonthTicketManagerPage_019_delInternalTicketWayside_Test" />	
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketSetting.MonthTicketSettingPage_001_addTicketSetting_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketSetting.MonthTicketSettingPage_002_editTicketSetting_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketSetting.MonthTicketSettingPage_003_filterTicketSetting_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.monthTicketSetting.MonthTicketSettingPage_004_delTicketSetting_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.parkCustomerInfo.ParkCustomerInfoPage_001_addParkCustomerInfo_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.parkCustomerInfo.ParkCustomerInfoPage_002_editParkCustomerInfo_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.parkCustomerInfo.ParkCustomerInfoPage_003_delParkCustomerInfo_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.parkCustomerInfo.ParkCustomerInfoPage_004_exportCarUserInfo_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.storeReport.StoreReportPage_001_filterStoreReport_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.storeReport.StoreReportPage_002_exportStoreReport_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.vipType.VipTypePage_001_addVipType_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.vipType.VipTypePage_002_editVipType_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.vipType.VipTypePage_003_filterVipType_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.vipType.VipTypePage_004_checkVipType_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.vipType.VipTypePage_005_delVipType_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.waterNumInformation.monthTicketChargeWaterNum.MonthTicketChargeWaterNumPage_001_filterChargeWaterNum_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.waterNumInformation.monthTicketChargeWaterNum.MonthTicketChargeWaterNumPage_002_exportChargeWaterNum_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.waterNumInformation.monthTicketChargeWaterNum.MonthTicketChargeWaterNumPage_003_updateInformation_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.waterNumInformation.storeChargeWaterNum.StoreChargeWaterNumPage_001_filterStoreWaterNum_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.waterNumInformation.storeChargeWaterNum.StoreChargeWaterNumPage_002_exportStoreWaterNum_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.waterNumInformation.vIPOperationWaterNum.VIPOperationWaterNumPage_001_filterVipOperationWaterNum_Test" />
			<class
				name="com.wymall.test.testcases.monthticket.waterNumInformation.vIPOperationWaterNum.VIPOperationWaterNumPage_002_exportVipOperationWaterNum_Test" />
		</classes>
	</test>
	<test name="D_system" preserve-order="true">
	<classes preserve-order="true">
		<class
			name="com.wymall.test.testcases.system.cendutySeat.CendutySeatPage_001_addCenduty_Test" />
		<class
			name="com.wymall.test.testcases.system.cendutySeat.CendutySeatPage_002_editCenduty_Test" />
		<class
			name="com.wymall.test.testcases.system.cendutySeat.CendutySeatPage_003_setfrozenCenduty_Test" />
		<class
			name="com.wymall.test.testcases.system.cendutySeat.CendutySeatPage_004_setStartCenduty_Test" />
		<class
			name="com.wymall.test.testcases.system.cendutySeat.CendutySeatPage_005_delCenduty_Test" />
		<class
			name="com.wymall.test.testcases.system.childOperator.ChildOperatorPage_001_addChildOperator_Test" />
		<class
			name="com.wymall.test.testcases.system.childOperator.ChildOperatorPage_002_unlockOperator_Test" />
		<class
			name="com.wymall.test.testcases.system.childOperator.ChildOperatorPage_003_editOperator_Test" />
		<class
			name="com.wymall.test.testcases.system.childOperator.ChildOperatorPage_004_detailOperator_Test" />
		<class
			name="com.wymall.test.testcases.system.childOperator.ChildOperatorPage_005_bindingParking_Test" />
		<class
			name="com.wymall.test.testcases.system.childOperator.ChildOperatorPage_006_setPassword_Test" />
		<class
			name="com.wymall.test.testcases.system.childOperator.ChildOperatorPage_007_lockOperator_Test" />
		<class
			name="com.wymall.test.testcases.system.childOperator.ChildOperatorPage_008_delOperator_Test" />
		<class
			name="com.wymall.test.testcases.system.miniprogram_user.Miniprogram_userPage_001_addMinProUser_Test" />
		<class
			name="com.wymall.test.testcases.system.miniprogram_user.Miniprogram_userPage_002_setPower_Test" />
		<class
			name="com.wymall.test.testcases.system.miniprogram_user.Miniprogram_userPage_003_editUser_Test" />
		<class
			name="com.wymall.test.testcases.system.miniprogram_user.Miniprogram_userPage_004_setFrozen_Test" />
		<class
			name="com.wymall.test.testcases.system.miniprogram_user.Miniprogram_userPage_005_setStartuse_Test" />
		<class
			name="com.wymall.test.testcases.system.miniprogram_user.Miniprogram_userPage_006_delMinProUser_Test" />
		<class
			name="com.wymall.test.testcases.system.parking_group.Parking_groupPage_001_addParkingGroup_Test" />
		<class
			name="com.wymall.test.testcases.system.parking_group.Parking_groupPage_002_buidingParking_Test" />
		<class
			name="com.wymall.test.testcases.system.parking_group.Parking_groupPage_003_checkUser_Test" />
		<class
			name="com.wymall.test.testcases.system.parking_group.Parking_groupPage_004_editParkingGroup_Test" />
		<class
			name="com.wymall.test.testcases.system.parking_group.Parking_groupPage_005_delParkingGroup_Test" />
		<class
			name="com.wymall.test.testcases.system.role.RolePage_001_addRoleSuccess_Test" />
		<class
			name="com.wymall.test.testcases.system.role.RolePage_002_settingRole_Test" />
		<class
			name="com.wymall.test.testcases.system.role.RolePage_003_editRole_Test" />
		<class
			name="com.wymall.test.testcases.system.role.RolePage_004_delRoleSuccess_Test" />
		<class
			name="com.wymall.test.testcases.system.user.UserPage_001_addUser_Test" />
		<class
			name="com.wymall.test.testcases.system.user.UserPage_002_setRole_Test" />
		<class
			name="com.wymall.test.testcases.system.user.UserPage_003_setParkingGroup_Test" />
		<class
			name="com.wymall.test.testcases.system.user.UserPage_004_editPassword_Test" />
		<class
			name="com.wymall.test.testcases.system.user.UserPage_005_editUser_Test" />
		<class
			name="com.wymall.test.testcases.system.user.UserPage_006_delUser_Test" />
		</classes>
	</test>
-->
	<listeners>
		<!-- arrow插件实现用例失败重跑以及生成测试报告 -->
		<listener class-name="com.wymall.test.plugins.arrow.TestResultListener" />
		<listener class-name="com.wymall.test.plugins.arrow.RetryListener" />
		<listener class-name="com.wymall.test.plugins.arrow.PowerEmailableReporter" />
		<!-- reporterNG优化生成测试报告 -->
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>

</suite> 